Automated Daily Briefing Agent.json
{
  "name": "My workflow 45",
  "nodes": [
    {
      "parameters": {
        "cityName": "Taguig, PH"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        -352,
        -256
      ],
      "id": "c24f68e0-2cb1-4bb8-a4ef-48e96b4f549d",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "igiYds8HY0HPCHE9",
          "name": "OpenWeatherMap account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "sulitc6@gmail.com",
          "mode": "list",
          "cachedResultName": "testing"
        },
        "timeMin": "={{ $today }}",
        "timeMax": "={{ $today.plus(1, 'days') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -112,
        -256
      ],
      "id": "95332e54-490e-4a3b-b0e3-723d2de441f5",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GSv6cdb44PZkEakD",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an executive assistant. I will provide you with weather data and a calendar agenda. Summarize the weather in one sentence. Then, list my meetings for the day. If I have no meetings, suggest a focus area for work. Finally, add a short motivational quote. Keep the tone professional but energetic.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        720,
        -240
      ],
      "id": "73e12929-c533-4168-b6f5-2bbc9ae58d16",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "sendTo": "sulitc6@gmail.com",
        "subject": "={{ $('Loop Over Items').first().json.summary }}",
        "message": "=<div style=\"font-family: sans-serif; color: #333;\">\n  <h2>📅 Upcoming Event: {{ $('Loop Over Items').item.json.summary }}</h2>\n  <p><strong>Time:</strong> {{ $('Loop Over Items').item.json.start.dateTime }}</p>\n  <p><strong>Description:</strong> {{ $('Loop Over Items').item.json.description }}</p>\n  \n  <hr style=\"border: 1px solid #eee; margin: 20px 0;\">\n  \n  <h3>☁️ Weather Outlook in {{ $('OpenWeatherMap').first().json.name }}</h3>\n  <p>\n    <strong>Condition:</strong> {{ $('OpenWeatherMap').first().json.weather[0].description }}<br>\n    <strong>Temperature:</strong> {{ $('OpenWeatherMap').first().json.main.temp }}°C<br>\n    <strong>Humidity:</strong> {{ $('OpenWeatherMap').first().json.main.humidity }}%\n  </p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1136,
        -240
      ],
      "id": "c031fe53-a7db-470f-9a73-d49763f473af",
      "name": "Send a message",
      "webhookId": "22d9b1c9-15b9-4f58-922e-7e765284c000",
      "credentials": {
        "gmailOAuth2": {
          "id": "qpqqdXVuey3VpD3R",
          "name": "Gmail account 8"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        -256
      ],
      "id": "77887f64-d469-44cb-835b-21877aa610d9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        -240
      ],
      "id": "229770de-8eb2-4ba5-855e-b49aac5442bd",
      "name": "Wait",
      "webhookId": "9f4139ed-bce7-4042-bbfa-308486870085"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        720,
        -48
      ],
      "id": "447da053-809f-4230-9101-14ee2a297444",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FQDvwzzkUqpF3xNq",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        -256
      ],
      "id": "425634f6-c554-4781-b47d-a95892a9074a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "# Project Title: Automated Daily Briefing Agent",
        "height": 740,
        "width": 2400
      },
      "id": "a56b91de-c455-44a6-b11c-6b8c8b663dc4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        -512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        192,
        -400
      ],
      "id": "a9a62d96-f81e-475d-9bce-0830584c6455",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ec514184-da0e-4ba1-977c-e34ca2b45d3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7bf57e14f977a092d84939cb894297bcb7252b02c299857ac5721d4a9d18532"
  },
  "id": "NR3jtAGHfXsS01AL",
  "tags": []
}